@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

ul,
ol,
li {
  list-style: none; }

a {
  text-decoration: none; }

.clearfix:after {
  content: "";
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
  clear: both; }

/***********top*************/
.public-top-layout {
  width: 100%;
  height: 35px;
  background: #f5f5f5;
  border-bottom: 1px solid #E5E5E5;
  z-index: 1111; }
  .public-top-layout .topbar {
    height: 35px;
    width: 1210px;
    margin: 0 auto; }
    .public-top-layout .topbar .left {
      float: left;
      position: relative;
      border: 1px solid transparent;
      border-bottom: none;
      width: 95px;
      height: 34px; }
      .public-top-layout .topbar .left:hover .area-list {
        display: block; }
      .public-top-layout .topbar .left:hover {
        border: 1px solid #E5E5E5;
        border-bottom: 1px solid #fff; }
      .public-top-layout .topbar .left:hover .area {
        background: #fff; }
      .public-top-layout .topbar .left .area {
        height: 34px;
        line-height: 34px;
        z-index: 34;
        padding: 0 9px 1px 9px;
        width: 95px;
        position: absolute;
        top: 0;
        left: 0; }
        .public-top-layout .topbar .left .area .icon {
          display: inline-block;
          vertical-align: middle;
          margin-right: 4px;
          width: 20px;
          height: 20px;
          background: url(../img/web_common_pic.png) no-repeat;
          background-position: -40px 0; }
        .public-top-layout .topbar .left .area .shortCutAreaName {
          font-size: 12px;
          color: #555;
          line-height: 35px;
          display: inline-block; }
          .public-top-layout .topbar .left .area .shortCutAreaName:hover {
            color: #F30213; }
        .public-top-layout .topbar .left .area i {
          display: inline-block;
          vertical-align: middle;
          width: 7px;
          height: 4px;
          margin-left: 9px;
          transition: .2s ease-in-out;
          background: url(../img/web_common_pic.png) no-repeat -110px -60px; }
      .public-top-layout .topbar .left:hover i {
        transform: rotate(180deg); }
      .public-top-layout .topbar .left:hover .icon {
        background-position: -60px 0; }
      .public-top-layout .topbar .left .area-list {
        display: none;
        position: absolute;
        z-index: 26;
        top: 34px;
        left: -1px;
        width: 280px;
        padding: 5px;
        background: #fff;
        border: 1px solid #DDDDDD; }
        .public-top-layout .topbar .left .area-list a {
          font-size: 12px;
          vertical-align: top;
          display: inline-block;
          width: 20%;
          height: 20px;
          padding: 0 1%;
          margin-top: 10px;
          line-height: 20px;
          overflow: hidden;
          color: #555; }
          .public-top-layout .topbar .left .area-list a:hover {
            color: #F30213; }
    .public-top-layout .topbar .right {
      float: right;
      z-index: 1111; }
      .public-top-layout .topbar .right .top-menu {
        position: relative;
        float: left;
        z-index: 1111; }
        .public-top-layout .topbar .right .top-menu:hover .arrow {
          transform: rotate(180deg); }
      .public-top-layout .topbar .right .mobile-mall {
        width: 116px;
        height: 35px; }
        .public-top-layout .topbar .right .mobile-mall .icon {
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          background: url(../img/web_common_pic.png) no-repeat -120px 0; }
        .public-top-layout .topbar .right .mobile-mall .top-menu-title2 {
          padding-left: 9px;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 12px;
          width: 107px;
          height: 35px;
          line-height: 37px;
          margin: 0 3px 0 0px;
          border: 1px solid transparent;
          border-bottom: none; }
          .public-top-layout .topbar .right .mobile-mall .top-menu-title2 .login-link {
            color: #F30213;
            margin-right: 5px; }
        .public-top-layout .topbar .right .mobile-mall .top-menu-con3 {
          position: absolute;
          z-index: 1;
          top: -160px;
          height: 0;
          opacity: 0;
          right: -2px;
          border: 1px solid #ddd;
          transition: .1s ease-out;
          width: 70px;
          overflow: hidden;
          text-align: center;
          padding: 20px;
          background: #fff; }
          .public-top-layout .topbar .right .mobile-mall .top-menu-con3 img {
            width: 140px;
            height: 140px; }
          .public-top-layout .topbar .right .mobile-mall .top-menu-con3 p {
            font-size: 12px;
            text-align: center;
            line-height: 16px;
            margin-top: 10px; }
        .public-top-layout .topbar .right .mobile-mall:hover .top-menu-title2 {
          z-index: 2;
          background: #fff;
          border: 1px solid #ddd;
          border-bottom: 2px solid #fff; }
        .public-top-layout .topbar .right .mobile-mall:hover .top-menu-con3 {
          height: 188px;
          top: 35px;
          opacity: 1;
          width: 140px; }
      .public-top-layout .topbar .right .top-menu-con1 {
        position: absolute;
        z-index: 1;
        top: 0px;
        height: 0;
        opacity: 0;
        left: 3px;
        border: 1px solid #ddd;
        background: #fff;
        overflow: hidden;
        transition: .2s ease-in-out; }
        .public-top-layout .topbar .right .top-menu-con1 ul {
          padding-bottom: 5px;
          background: #fff; }
          .public-top-layout .topbar .right .top-menu-con1 ul li a {
            height: 24px;
            width: 72px;
            font-size: 12px;
            line-height: 24px;
            display: block;
            clear: both;
            padding: 2px 0 2px 10px; }
            .public-top-layout .topbar .right .top-menu-con1 ul li a:hover {
              color: #F30213; }
      .public-top-layout .topbar .right .my-mall {
        width: 82px;
        height: 35px; }
        .public-top-layout .topbar .right .my-mall .top-menu-con2 {
          position: absolute;
          z-index: 1;
          opacity: 0;
          height: 0;
          overflow: hidden;
          top: -80px;
          left: 3px;
          border: 1px solid #ddd;
          transition: .2s ease-in-out; }
          .public-top-layout .topbar .right .my-mall .top-menu-con2 .user-center-menu {
            width: 160px;
            background: #fff; }
            .public-top-layout .topbar .right .my-mall .top-menu-con2 .user-center-menu li {
              width: 50%;
              float: left;
              padding: 4px 0;
              background: #fff; }
              .public-top-layout .topbar .right .my-mall .top-menu-con2 .user-center-menu li a {
                font-size: 12px;
                color: #555;
                line-height: 24px;
                display: block;
                clear: both;
                padding: 2px 0 2px 10px; }
                .public-top-layout .topbar .right .my-mall .top-menu-con2 .user-center-menu li a:hover {
                  color: #F30213; }
        .public-top-layout .topbar .right .my-mall:hover .top-menu-con2 {
          height: 110px;
          top: 35px;
          opacity: 1; }
        .public-top-layout .topbar .right .my-mall:hover .top-menu-title1 {
          z-index: 2;
          background: #fff;
          border: 1px solid #ddd;
          border-bottom: 2px solid #fff; }
      .public-top-layout .topbar .right .my-order:hover .top-menu-con1 {
        opacity: 1;
        top: 35px;
        height: 91px;
        border-top: 1px solid #fff; }
      .public-top-layout .topbar .right .top-menu-title {
        font-size: 12px;
        line-height: 20px;
        height: 20px;
        padding: 8px 9px 7px 9px;
        margin: 0 3px 0 3px;
        border: 1px solid transparent;
        border-bottom: none; }
        .public-top-layout .topbar .right .top-menu-title .login-link {
          color: #F30213;
          margin-right: 5px; }
      .public-top-layout .topbar .right .top-menu-title1 {
        padding-left: 9px;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 12px;
        width: 73px;
        height: 35px;
        line-height: 37px;
        margin: 0 3px 0 3px;
        border: 1px solid transparent;
        border-bottom: none; }
        .public-top-layout .topbar .right .top-menu-title1 .login-link {
          color: #F30213;
          margin-right: 5px; }
      .public-top-layout .topbar .right .my-order:hover .top-menu-title {
        background: #fff;
        border: 1px solid #ddd;
        border-bottom: none; }
      .public-top-layout .topbar .right a {
        color: #555; }
      .public-top-layout .topbar .right .arrow {
        background: url(../img/web_common_pic.png) no-repeat -110px -60px;
        display: inline-block;
        width: 7px;
        height: 4px;
        margin-left: 6px;
        transition: .2s ease-in-out; }

/*************logo 搜索栏**************/
.heade-wrap {
  background: #fff;
  width: 100%; }
  .heade-wrap .public-head-layout {
    width: 1210px;
    margin: 0 auto;
    height: 109px; }
    .heade-wrap .public-head-layout .site-logo {
      width: 240px;
      height: 68px;
      float: left;
      margin: 22px 120px 0 0; }
      .heade-wrap .public-head-layout .site-logo img {
        width: 240px;
        height: 68px; }
  .heade-wrap .head-search-layout {
    width: 550px;
    float: left;
    margin: 10px 0 0 0; }
    .heade-wrap .head-search-layout .search-form {
      margin-top: 24px;
      display: block;
      width: 100%;
      height: 36px; }
      .heade-wrap .head-search-layout .search-form .input-text {
        outline: none;
        float: left;
        border: solid #f30213;
        border-width: 2px 0 2px 2px;
        width: 460px;
        height: 24px;
        padding: 4px;
        line-height: 24px;
        color: #555; }
      .heade-wrap .head-search-layout .search-form .input-submit {
        font-size: 16px;
        color: #fff;
        font-weight: 500;
        background: #f30213;
        width: 80px;
        height: 36px;
        float: right;
        border: none;
        cursor: pointer; }
    .heade-wrap .head-search-layout ul {
      float: left; }
      .heade-wrap .head-search-layout ul li {
        float: left;
        margin-right: 12px;
        margin-top: 5px; }
        .heade-wrap .head-search-layout ul li a {
          font-size: 12px;
          color: #999; }
  .heade-wrap .my-cart {
    position: relative;
    width: 140px;
    z-index: 11;
    float: left;
    height: 36px;
    margin-top: 34px;
    margin-left: 30px; }
    .heade-wrap .my-cart .my-cart-tit {
      position: absolute;
      z-index: 3;
      left: 0;
      top: 0;
      width: 91px;
      height: 34px;
      padding: 0 28px 0 19px;
      border: 1px solid #dfdfdf;
      background: #f9f9f9;
      line-height: 34px; }
      .heade-wrap .my-cart .my-cart-tit .my-cart-ico {
        display: block;
        position: absolute;
        overflow: hidden;
        top: 9px;
        left: 90px;
        width: 16px;
        height: 16px;
        background: url(../img/web_common_pic.png) no-repeat 0 -30px; }
      .heade-wrap .my-cart .my-cart-tit a {
        font-size: 12px;
        color: #F30213; }
    .heade-wrap .my-cart .my-cart-con {
      position: absolute;
      top: 36px;
      right: 0;
      width: 308px;
      border: 1px solid #ddd;
      background: #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      display: none; }
      .heade-wrap .my-cart .my-cart-con .sub-title {
        line-height: 28px;
        height: 28px;
        padding: 7px; }
        .heade-wrap .my-cart .my-cart-con .sub-title h4 {
          font-size: 12px;
          font-weight: 600;
          float: left; }
      .heade-wrap .my-cart .my-cart-con .no-roder {
        text-align: center;
        font-size: 12px;
        color: #666;
        padding: 28px 0; }
    .heade-wrap .my-cart:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 0px 5px rgba(0, 0, 0, 0.1), 0 0 0px rgba(255, 255, 255, 0), 0px 0 5px rgba(0, 0, 0, 0.1); }
    .heade-wrap .my-cart:hover .my-cart-con {
      display: block; }
    .heade-wrap .my-cart:hover .my-cart-tit {
      background: #fff;
      border-bottom: 2px solid #fff; }

/********nav**********/
.public-nav-layout {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #F30213;
  background: #fff;
  zoom: 1; }
  .public-nav-layout .all-category {
    width: 1210px;
    margin: 0 auto;
    height: 40px;
    z-index: 20; }
    .public-nav-layout .all-category ul i {
      display: block;
      float: right;
      width: 9px;
      height: 6px;
      margin: 18px 12px 0 0;
      background: url(../img/web_common_pic.png) no-repeat -90px -60px; }
    .public-nav-layout .all-category ul li {
      float: left; }
      .public-nav-layout .all-category ul li:nth-child(1) {
        padding-left: 16px;
        width: 164px;
        height: 40px;
        background: #F30213;
        line-height: 40px; }
        .public-nav-layout .all-category ul li:nth-child(1) a {
          font-size: 14px;
          color: #fff; }
      .public-nav-layout .all-category ul li:nth-child(2) a {
        font-weight: 600;
        color: #F30213;
        font-size: 15px;
        line-height: 20px;
        height: 20px;
        display: inline-block;
        padding: 8px 24px; }
      .public-nav-layout .all-category ul li:nth-child(3) a {
        font-size: 15px;
        font-weight: normal;
        line-height: 20px;
        color: #333;
        height: 20px;
        padding: 8px 24px;
        display: inline-block; }
        .public-nav-layout .all-category ul li:nth-child(3) a:hover {
          color: #F30213; }

/****top-live****/
.top-live {
  width: 1210px;
  height: 80px;
  position: relative;
  margin: 0 auto;
  /******选项卡部分*******/
  /*********今日最大牌**********/ }
  .top-live .top-live-right {
    width: 167px;
    height: 79px;
    float: right; }
  .top-live .live-center {
    position: relative;
    width: 408px;
    height: 59px;
    float: right;
    padding: 5px 0 5px 0;
    margin: 5px 15px 5px 10px;
    border: 1px solid #e4e4e4; }
    .top-live .live-center i {
      display: block;
      float: left;
      width: 100px;
      height: 59px;
      margin-left: 5px; }
    .top-live .live-center .live-banner01 {
      background: url(../img/live.png) no-repeat -100px 0; }
    .top-live .live-center .live-banner02 {
      background: url(../img/live.png) no-repeat 0px 0; }
    .top-live .live-center .live-specials {
      position: relative;
      overflow: hidden;
      float: left;
      width: 60px;
      height: 60px;
      margin-left: 15px;
      margin-right: 10px; }
      .top-live .live-center .live-specials img {
        width: 60px;
        height: 60px; }
    .top-live .live-center .live-special {
      position: relative;
      overflow: hidden;
      float: left;
      width: 90px;
      height: 60px;
      margin-left: 15px; }
      .top-live .live-center .live-special img {
        width: 90px;
        height: 60px;
        position: absolute;
        top: 0;
        right: 0;
        animation: imgMove 12s infinite; }
      .top-live .live-center .live-special .mask {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 90px;
        height: 60px;
        background: url(../img/radio.png) no-repeat;
        display: inline-block; }
    .top-live .live-center .special-title {
      width: 175px;
      height: 60px;
      float: left;
      margin-left: 6px; }
      .top-live .live-center .special-title p {
        width: 100%;
        height: 24px;
        line-height: 24px;
        color: #000;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px; }
        .top-live .live-center .special-title p a {
          color: #000; }
      .top-live .live-center .special-title .goods-price {
        margin-top: 5px;
        color: #F15C18; }
        .top-live .live-center .special-title .goods-price em {
          font-size: 20px;
          line-height: 32px;
          font-style: normal; }
    .top-live .live-center .goto-live {
      position: absolute;
      right: 10px;
      bottom: 6px;
      color: #f22d25;
      display: inline-block;
      width: 84px;
      height: 22px;
      border: 1px solid #f22d25;
      text-align: center;
      line-height: 22px;
      box-shadow: 1px 1px 2px #e3d5d5;
      font-size: 12px; }
  .top-live .category {
    width: 180px;
    height: 480px;
    position: absolute;
    left: 0;
    top: 0;
    background: #6e6568; }
    .top-live .category .menu {
      position: relative;
      z-index: 20;
      width: 180px;
      padding: 16px 0;
      min-height: 442px;
      background: #6e6568;
      color: #fff;
      height: 448px; }
      .top-live .category .menu .cate-menu-item {
        overflow: hidden;
        padding-left: 12px;
        height: 34px;
        line-height: 34px; }
        .top-live .category .menu .cate-menu-item .cate-menu-line {
          font-size: 12px;
          padding: 0 2px; }
        .top-live .category .menu .cate-menu-item .cate-menu-lk {
          font-size: 14px;
          color: #fff; }
        .top-live .category .menu .cate-menu-item:hover {
          background: #969896; }
        .top-live .category .menu .cate-menu-item:hover .cate-part {
          display: block; }
        .top-live .category .menu .cate-menu-item a:hover {
          color: #FF3238; }
      .top-live .category .menu .cate-part {
        font-size: 12px;
        position: absolute;
        left: 180px;
        top: 0;
        width: 998px;
        min-height: 419px;
        border: 1px solid #f7f7f7;
        background-color: #f7f7f7;
        box-shadow: 1px 4px 0 rgba(0, 0, 0, 0.1);
        display: none;
        z-index: 20; }
        .top-live .category .menu .cate-part .cate-part-coll {
          float: left;
          width: 740px;
          padding: 20px 0 10px; }
          .top-live .category .menu .cate-part .cate-part-coll .cate-detail-tit {
            float: left;
            width: 70px;
            text-align: right; }
            .top-live .category .menu .cate-part .cate-part-coll .cate-detail-tit a {
              font-size: 12px;
              color: #666;
              font-weight: 700; }
            .top-live .category .menu .cate-part .cate-part-coll .cate-detail-tit i {
              font-size: 14px; }
          .top-live .category .menu .cate-part .cate-part-coll .cate-detail-con {
            float: left;
            width: 652px;
            padding: 6px 0px;
            margin-left: 8px;
            border-bottom: 1px solid #EDEDED; }
            .top-live .category .menu .cate-part .cate-part-coll .cate-detail-con a {
              float: left;
              height: 14px;
              margin: 4px 0;
              padding: 0 10px;
              border-left: 1px solid #e0e0e0;
              line-height: 14px;
              color: #333; }
              .top-live .category .menu .cate-part .cate-part-coll .cate-detail-con a:hover {
                color: #F22D25; }
        .top-live .category .menu .cate-part .sub-class-right {
          width: 240px;
          margin-left: 16px;
          float: left;
          border-left: 1px solid #e6e6e6; }
          .top-live .category .menu .cate-part .sub-class-right a {
            background: #fff;
            display: block;
            width: 240px;
            height: 146px;
            border-top: 1px solid #e6e6e6; }
            .top-live .category .menu .cate-part .sub-class-right a img {
              display: block;
              width: 240px;
              height: 146px; }
  .top-live .right-bar {
    position: absolute;
    right: 0;
    top: 79px;
    background: rgba(255, 255, 255, 0.7);
    z-index: 2;
    width: 185px; }
    .top-live .right-bar h2 {
      text-align: center;
      height: 30px;
      line-height: 30px;
      font-size: 16px;
      color: #000;
      font-weight: bold;
      padding: 12px 0; }
    .top-live .right-bar .right-max {
      width: 185px;
      height: 346px; }
      .top-live .right-bar .right-max a {
        display: block;
        width: 185px;
        height: 250px;
        text-align: center; }
        .top-live .right-bar .right-max a img {
          width: 100%; }
      .top-live .right-bar .right-max h3 {
        height: 24px;
        line-height: 24px;
        width: 100%;
        text-align: center;
        font-weight: bold;
        color: #000;
        font-size: 12px; }
      .top-live .right-bar .right-max p {
        font-size: 12px;
        height: 40px;
        line-height: 20px;
        margin-top: 5px;
        overflow: hidden;
        text-align: center;
        padding: 12px; }

@keyframes imgMove {
  0% {
    right: 0;
    top: 0;
    width: 90px;
    height: 60px; }
  20% {
    right: 0;
    top: 0;
    width: 160px;
    height: 160px; }
  40% {
    right: 0;
    top: -100px;
    width: 160px;
    height: 160px; }
  60% {
    right: -70px;
    top: -100px;
    width: 160px;
    height: 160px; }
  80% {
    right: -70px;
    top: 0px;
    width: 160px;
    height: 160px; }
  100% {
    right: 0px;
    top: 0px;
    width: 90px;
    height: 60px; } }

/*****banner******/
.focus {
  position: relative;
  width: 100%;
  height: 400px;
  background: #e8e4fd; }
  .focus #topBanner {
    position: relative;
    width: 845px;
    height: 400px;
    background: pink;
    margin: 0 auto; }
    .focus #topBanner li {
      position: absolute;
      left: 0;
      top: 0;
      width: 845px;
      height: 400px; }
      .focus #topBanner li img {
        width: 845px;
        height: 400px; }
  .focus #bt {
    position: absolute;
    left: 50%;
    bottom: 40px;
    margin-left: -30px; }
    .focus #bt li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #fff;
      margin: 0 5px;
      float: left; }
    .focus #bt .current {
      background: orange; }
