* {
  margin: 0;
  padding: 0; }

ul,
ol,
li {
  list-style: none; }

a {
  text-decoration: none; }

.clearfix:after {
  content: "";
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
  clear: both; }

/***********top*************/
.public-top-layout {
  width: 100%;
  height: 35px;
  background: #f5f5f5;
  border-bottom: 1px solid #E5E5E5; }
  .public-top-layout .topbar {
    height: 35px;
    width: 1210px;
    margin: 0 auto; }
    .public-top-layout .topbar .left {
      float: left;
      position: relative;
      border: 1px solid transparent;
      border-bottom: none;
      width: 95px;
      height: 35px; }
      .public-top-layout .topbar .left:hover .area-list {
        display: block; }
      .public-top-layout .topbar .left:hover {
        border: 1px solid #E5E5E5;
        border-bottom: 1px solid #fff; }
      .public-top-layout .topbar .left:hover .area {
        background: #fff; }
      .public-top-layout .topbar .left .area {
        height: 34px;
        line-height: 34px;
        z-index: 4;
        padding: 0 9px 1px 9px;
        width: 95px;
        position: absolute;
        top: 0;
        left: 0; }
        .public-top-layout .topbar .left .area .icon {
          display: inline-block;
          vertical-align: middle;
          margin-right: 4px;
          width: 20px;
          height: 20px;
          background: url(../img/web_common_pic.png) no-repeat;
          background-position: -40px 0; }
        .public-top-layout .topbar .left .area .shortCutAreaName {
          font-size: 12px;
          color: #555;
          line-height: 35px;
          display: inline-block; }
          .public-top-layout .topbar .left .area .shortCutAreaName:hover {
            color: #F30213; }
        .public-top-layout .topbar .left .area i {
          display: inline-block;
          vertical-align: middle;
          width: 7px;
          height: 4px;
          margin-left: 9px;
          transition: .2s ease-in-out;
          background: url(../img/web_common_pic.png) no-repeat -110px -60px; }
      .public-top-layout .topbar .left:hover i {
        transform: rotate(180deg); }
      .public-top-layout .topbar .left:hover .icon {
        background-position: -60px 0; }
      .public-top-layout .topbar .left .area-list {
        display: none;
        position: absolute;
        z-index: 1;
        top: 34px;
        left: -1px;
        width: 280px;
        padding: 5px;
        background: #fff;
        border: 1px solid #DDDDDD; }
        .public-top-layout .topbar .left .area-list a {
          font-size: 12px;
          vertical-align: top;
          display: inline-block;
          width: 20%;
          height: 20px;
          padding: 0 1%;
          margin-top: 10px;
          line-height: 20px;
          overflow: hidden;
          color: #555; }
          .public-top-layout .topbar .left .area-list a:hover {
            color: #F30213; }
    .public-top-layout .topbar .right {
      float: right; }
      .public-top-layout .topbar .right .top-menu {
        position: relative;
        z-index: 1;
        float: left; }
        .public-top-layout .topbar .right .top-menu:hover .arrow {
          transform: rotate(180deg); }
      .public-top-layout .topbar .right .mobile-mall {
        width: 116px;
        height: 35px; }
        .public-top-layout .topbar .right .mobile-mall .icon {
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          background: url(../img/web_common_pic.png) no-repeat -120px 0; }
        .public-top-layout .topbar .right .mobile-mall .top-menu-title2 {
          padding-left: 9px;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 12px;
          width: 107px;
          height: 35px;
          line-height: 37px;
          margin: 0 3px 0 0px;
          border: 1px solid transparent;
          border-bottom: none; }
          .public-top-layout .topbar .right .mobile-mall .top-menu-title2 .login-link {
            color: #F30213;
            margin-right: 5px; }
        .public-top-layout .topbar .right .mobile-mall .top-menu-con3 {
          position: absolute;
          z-index: 1;
          top: -160px;
          height: 0;
          opacity: 0;
          right: -2px;
          border: 1px solid #ddd;
          transition: .1s ease-out;
          width: 70px;
          overflow: hidden;
          text-align: center;
          padding: 20px; }
          .public-top-layout .topbar .right .mobile-mall .top-menu-con3 img {
            width: 140px;
            height: 140px; }
          .public-top-layout .topbar .right .mobile-mall .top-menu-con3 p {
            font-size: 12px;
            text-align: center;
            line-height: 16px;
            margin-top: 10px; }
        .public-top-layout .topbar .right .mobile-mall:hover .top-menu-title2 {
          z-index: 2;
          background: #fff;
          border: 1px solid #ddd;
          border-bottom: 2px solid #fff; }
        .public-top-layout .topbar .right .mobile-mall:hover .top-menu-con3 {
          height: 188px;
          top: 35px;
          opacity: 1;
          width: 140px; }
      .public-top-layout .topbar .right .top-menu-con1 {
        position: absolute;
        z-index: 1;
        top: 0px;
        height: 0;
        opacity: 0;
        left: 3px;
        border: 1px solid #ddd;
        overflow: hidden;
        transition: .2s ease-in-out; }
        .public-top-layout .topbar .right .top-menu-con1 ul {
          padding-bottom: 5px;
          background: #fff; }
          .public-top-layout .topbar .right .top-menu-con1 ul li a {
            height: 24px;
            width: 72px;
            font-size: 12px;
            line-height: 24px;
            display: block;
            clear: both;
            padding: 2px 0 2px 10px; }
            .public-top-layout .topbar .right .top-menu-con1 ul li a:hover {
              color: #F30213; }
      .public-top-layout .topbar .right .my-mall {
        width: 82px;
        height: 35px; }
        .public-top-layout .topbar .right .my-mall .top-menu-con2 {
          position: absolute;
          z-index: 1;
          opacity: 0;
          height: 0;
          overflow: hidden;
          top: -80px;
          left: 3px;
          border: 1px solid #ddd;
          transition: .2s ease-in-out; }
          .public-top-layout .topbar .right .my-mall .top-menu-con2 .user-center-menu {
            width: 160px; }
            .public-top-layout .topbar .right .my-mall .top-menu-con2 .user-center-menu li {
              width: 50%;
              float: left;
              padding: 4px 0; }
              .public-top-layout .topbar .right .my-mall .top-menu-con2 .user-center-menu li a {
                font-size: 12px;
                color: #555;
                line-height: 24px;
                display: block;
                clear: both;
                padding: 2px 0 2px 10px; }
                .public-top-layout .topbar .right .my-mall .top-menu-con2 .user-center-menu li a:hover {
                  color: #F30213; }
        .public-top-layout .topbar .right .my-mall:hover .top-menu-con2 {
          height: 110px;
          top: 35px;
          opacity: 1; }
        .public-top-layout .topbar .right .my-mall:hover .top-menu-title1 {
          z-index: 2;
          background: #fff;
          border: 1px solid #ddd;
          border-bottom: 2px solid #fff; }
      .public-top-layout .topbar .right .my-order:hover .top-menu-con1 {
        opacity: 1;
        top: 35px;
        height: 91px;
        border-top: 1px solid #fff; }
      .public-top-layout .topbar .right .top-menu-title {
        font-size: 12px;
        line-height: 20px;
        height: 20px;
        padding: 8px 9px 7px 9px;
        margin: 0 3px 0 3px;
        border: 1px solid transparent;
        border-bottom: none; }
        .public-top-layout .topbar .right .top-menu-title .login-link {
          color: #F30213;
          margin-right: 5px; }
      .public-top-layout .topbar .right .top-menu-title1 {
        padding-left: 9px;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 12px;
        width: 73px;
        height: 35px;
        line-height: 37px;
        margin: 0 3px 0 3px;
        border: 1px solid transparent;
        border-bottom: none; }
        .public-top-layout .topbar .right .top-menu-title1 .login-link {
          color: #F30213;
          margin-right: 5px; }
      .public-top-layout .topbar .right .my-order:hover .top-menu-title {
        background: #fff;
        border: 1px solid #ddd;
        border-bottom: none; }
      .public-top-layout .topbar .right a {
        color: #555; }
      .public-top-layout .topbar .right .arrow {
        background: url(../img/web_common_pic.png) no-repeat -110px -60px;
        display: inline-block;
        width: 7px;
        height: 4px;
        margin-left: 6px;
        transition: .2s ease-in-out; }
